.menuButton {
  background-color: #30475e !important;
  margin-bottom: 1.2vh !important;
  padding-left: 1.2vw !important;
  margin-right: 10px !important;
  margin-left: 0.5vw !important;
  border: 1px solid #222831 !important;
  border-radius: 5px !important;
  color: #ececec !important;
}
.IconButton {
  margin-right: 15px !important;
  width: 2vw !important;
}
